* {
    padding: 0px;
    background-color: rgba(182, 161, 255, 0.589);
    color: black;


}


h1 {
    text-align: center;
    padding: 0.5em;
    border: 1px solid black;
    background-color: burlywood;
    font-size: 2em;
}

#book-form {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}


input, button{
    font-size: 1em;
}
